body{
	background-color: lightblue;
}

h1{background-color: white;
	
}

.form-container {
	background-color: light blue

}

.input-section {
	background-color: light blue

}

.JavaScript {
	background-color: yellow
}